<h3>Manage ACATs
    <small>Build ACAT forms.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <label class="control-label small">Crop</label>
                    <span class="control-label required" aria-required="true"> * </span>
                    <ui-select ng-model="vm.acat.selected_crop"
                               theme="select2"
                               title="Choose crop">
                        <ui-select-match placeholder="Select crop from the list...">
                            {{$select.selected.name}} - {{$select.selected.category}}
                        </ui-select-match>
                        <ui-select-choices repeat="crop in vm.crops | filter: $select.search">
                            <span ng-bind-html="crop.name | highlight: $select.search"></span>
                            <small>
                                <span ng-bind-html="''+crop.category | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-lg-12"></div>
            <div class="col-lg-12" block-ui="ACATBuilderBlockUI">
                <md-tabs md-dynamic-height="" md-border-bottom="" >
                    <md-tab label="INPUT">
                        <md-content class="md-padding">

                            <!--SEED SECTION-->
                            <div class="row">
                                <div class="col-md-4 bg-success text-center text-uppercase">
                                    <h5 class="">Seed</h5>
                                </div>

                              <!--Title-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <h4>Variety</h4>
                                    <h5>Seed Source (Union,Factory/Institution, Trader )</h5>
                                </div>

                                <!-- START SEED ROW-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Item</label>
                                            <input class="form-control"
                                                   ng-model="vm.acat.input.seed.item"
                                                   type="text"
                                                   name="seed_item" placeholder="Item" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input class="form-control"
                                                   ng-model="vm.acat.input.seed.unit"
                                                   type="text"
                                                   name="seed_unit" placeholder="unit" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <br/>
                                        <button ng-show="vm.isEditSeedCost" class="btn btn-inverse btn-outline"
                                                ng-click="vm.cancelSeedCostList()">
                                            <i class="fa fa-times"></i>
                                            Cancel</button>
                                        <button class="btn btn-success btn-outline" ng-click="vm.addToSeedCostList(vm.acat.input.seed)">
                                            <i class="fa fa-plus"></i>
                                            {{vm.isEditSeedCost?'Update Item':'Add Item'}}</button>
                                    </div>
                                    <!-- ITEMS LIST-->
                                    <div ng-show="vm.acat.input.seedCostList.length>0" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="bg-inverse-light">
                                                    <th>#</th>
                                                    <th>Item</th>
                                                    <th>Unit</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="cost in vm.acat.input.seedCostList">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{cost.item}}</td>
                                                    <td>{{cost.unit}}</td>
                                                    <td>
                                                        <a ng-click="vm.editSeedCost(cost,$event)">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-12"><p></p></div>
                                </div>
                                <!-- END SEED ROW-->
                            </div>

                            <!--FERTILIZERS SECTION-->
                            <div class="row">
                                <div class="col-md-4 bg-success text-center text-uppercase">
                                    <h5 class="">Fertilizers</h5>
                                </div>
                                <!--Fertilizer LIST TYPE-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <md-input-container class="md-block">
                                        <md-radio-group id="fertilizerListType"
                                                        name="fertilizerListType"
                                                        layout="row"
                                                        ng-model="vm.acat.fertilizer.list_type" >
                                            <md-radio-button value="linear">
                                                Linear List </md-radio-button>
                                            <md-radio-button value="grouped" >
                                                Group List</md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                </div>
                                <!-- START FERTILIZER ROW-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Item</label>
                                            <input class="form-control"
                                                   type="text"
                                                   name="item"
                                                   ng-model="vm.acat.fertilizer.item"
                                                   placeholder="Item" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input class="form-control" type="text"
                                                   name="unit"
                                                   ng-model="vm.acat.fertilizer.unit"
                                                   placeholder="unit" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <br/>
                                        <button class="btn btn-success btn-outline"
                                                ng-click="vm.addToFertilizerCostList(vm.acat.fertilizer)">
                                            <i class="fa fa-plus"></i>
                                            Add List</button>
                                    </div>
                                </div>
                                <!-- END FERTILIZER ROW-->

                                <!-- ITEMS TABLE-->
                                <div ng-show="vm.acat.input.fertilizerCostList.length>0" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="bg-inverse-light">
                                                <th>#</th>
                                                <th>Item</th>
                                                <th>Unit</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="cost in vm.acat.input.fertilizerCostList">
                                                <td>{{$index + 1}}</td>
                                                <td>{{cost.item}}</td>
                                                <td>{{cost.unit}}</td>
                                                <td>
                                                    <a ng-click="vm.editItem(cost,$event)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12"><p></p></div>
                            </div>

                            <!--CHEMICALS SECTION-->
                            <div class="row">
                                <div class="col-md-4 bg-success text-center text-uppercase">
                                    <h5 class="">Chemicals</h5>
                                </div>
                                <!--COST LIST-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <md-input-container class="md-block">
                                        <md-radio-group name="ChemicalsListType"
                                                        id="ChemicalsListType"
                                                        layout="row" ng-model="vm.acat.chemicals.list_type" >
                                            <md-radio-button value="linear">
                                                Linear List </md-radio-button>
                                            <md-radio-button value="grouped" >
                                                Group List</md-radio-button>
                                        </md-radio-group>
                                    </md-input-container>
                                </div>
                                <!--IF LIST IS GROUPED-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Group</label>
                                            <input class="form-control" type="text"
                                                   ng-model="vm.acat.chemicals.group_title"
                                                   name="item" placeholder="Group Name" />
                                        </div>
                                    </div>
                                </div>

                                <!-- START CHEMICALS ROW-->
                                <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Item</label>
                                            <input class="form-control" type="text"
                                                   ng-model="vm.acat.chemicals.item"
                                                   name="item" placeholder="Item" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input class="form-control" type="text"
                                                   ng-model="vm.acat.chemicals.unit"
                                                   name="unit" placeholder="unit" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <br/>
                                        <button class="btn btn-success btn-outline"
                                                ng-click="vm.addToChemicalsCostList(vm.acat.chemicals)">
                                            <i class="fa fa-plus"></i>
                                            Add List</button>
                                    </div>
                                </div>
                                <!-- END CHEMICALS ROW-->

                                <!-- ITEMS TABLE-->
                                <div ng-show="vm.acat.input.chemicalsCostList.length>0" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div class="table-responsive">
                                        <table class="table table-bordered"
                                               ng-repeat="groupItem in vm.acat.input.chemicalsCostList">
                                            <thead>
                                            <tr class="text-center text-uppercase text-inverse">
                                                <th colspan="4">{{groupItem.title}}</th>
                                            </tr>
                                            <tr class="bg-inverse-light">
                                                <th>#</th>
                                                <th>Item</th>
                                                <th>Unit</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="cost in groupItem.items">
                                                <td>{{$index + 1}}</td>
                                                <td>{{cost.item}}</td>
                                                <td>{{cost.unit}}</td>
                                                <td>
                                                    <a ng-click="vm.editItem(cost,$event)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12"><p></p></div>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="LABOUR COSTS">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">LABOUR COSTS</h1>
                        </md-content>
                    </md-tab>
                    <md-tab label="OTHER COSTS">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">OTHER COSTS</h1>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>