<form form-wizard="" action="/" method="POST" steps="4">
    <div class="form-wizard">
        <!-- START Wizard Step inputs-->
        <div ng-show="wizard.active(1)">
            <legend>Preliminary Information for {{vm.clientAcat.crop.name}} </legend>
            <fieldset>
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label">Cropping Area</label>
                    <div class="col-md-10 controls">
                        <input class=" form-control" ng-model="vm.clientAcat.cropping_area_size" type="text" name="cropping_area" placeholder="cropping area per ha.." />
                    </div>
                </div>
                <br>
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label">First Expense Month</label>
                    <div class="col-md-10 controls">
                        <ui-select ng-model="vm.clientAcat.first_expense_month"
                                   theme="bootstrap"
                                   title="Choose month">
                            <ui-select-match placeholder="Select month from the list...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="month.name as month in vm.months | filter: $select.search">
                                <span ng-bind-html="month.name  | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <br/>
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label">GPS Location</label>

                    <div class="col-md-6">
                        <span ng-if="vm.clientAcat.gps_location.polygon.length === 0">
                             <span>({{vm.clientAcat.gps_location.single_point.latitude}},{{vm.clientAcat.gps_location.single_point.longtude}})</span>
                        </span>
                        <table ng-if="vm.clientAcat.gps_location.polygon.length > 0"
                               class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>(Latitude,Longitude)</th>
                                <th>
                                    <a ng-click="vm.addGeoLocation(vm.clientAcat.gps_location,$event)"
                                       class="btn btn-success btn-xs pull-right">
                                        <i class="fa fa-plus"></i> Add
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="location in vm.clientAcat.gps_location.polygon">
                                <td>
                                    <span>({{location.latitude}},{{location.longtude}})</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <label class=" control-label"> Access to non financial resources ?</label>
                        <div class="controls">
                            <ui-select  ng-model="vm.clientAcat.non_financial_resources"
                                        theme="bootstrap"
                                        title="Select non financial resources"
                                        multiple>
                                <ui-select-match placeholder="Select non financial resources from the list...">
                                    {{$item | uppercase}}
                                </ui-select-match>
                                <ui-select-choices repeat="resource in vm.non_financial_resources | filter: $select.search">
                                    {{resource | uppercase}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </div>

            </fieldset>
            <ul class="pager">
                <li class="next"><a href="" ng-click="wizard.go(2)">Next<span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs-->

        <!-- START Wizard Step inputs-->
        <div ng-show="wizard.active(2)">
            <legend>3. Cost Estimation </legend>
            <fieldset>
                <div class="row">
                    <div class="col-sm-2 background-white">
                        <md-list flex>
                            <div ng-repeat="sub_section in vm.clientAcat.sections[0].sub_sections">
                                <md-list-item class="border-primary" ng-click="vm.onSubsectionClick(sub_section)">
                                    <span flex>{{sub_section.title}}</span>
                                    <i class="fa fa-angle-right" ng-show="sub_section.sub_sections.length > 0 && !vm.toggle[sub_section._id]"></i>
                                    <i class="fa fa-angle-down" ng-show="sub_section.sub_sections.length > 0 && vm.toggle[sub_section._id]"></i>
                                </md-list-item>
                                <md-list-item class="m-xs"
                                              ng-repeat="sb in sub_section.sub_sections"
                                              ng-click="vm.onSubsectionClick(sb)"
                                              ng-class="{'bg-gray': sb._id === vm.selectedSubsection._id}"
                                              ng-show="vm.toggle[sub_section._id]">
                                    <span flex-offset="5">{{sb.title}}</span>
                                </md-list-item>
                            </div>

                        </md-list>
                    </div>
                    <div class="col-sm-10 pr0 background-white">
                        <div class="row mr0">
                            <!--Sub Total for selected sub section-->
                            <div class="table-responsive  table-bordered">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-left">{{vm.selectedSubsection.title}}</th>
                                        <th></th>
                                        <th class="text-right" ><a  > Cash flow for {{vm.selectedSubsection.title}} </a></th>
                                    </tr>
                                    <tr>
                                        <th class="text-left"></th>
                                        <th class="text-center">Estimated</th>
                                        <th class="text-right">Actual</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left">Sub Total</td>
                                        <td class="text-center"><small >{{vm.selectedSubsection.estimated_sub_total | number}}</small></td>
                                        <td class="text-right"><div >{{vm.selectedSubsection.achieved_sub_total | number}}</div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                            <!--COST LIST FOR SELECTED SUB SECTION-->
                            <uib-accordion close-others="true">
                                <div uib-accordion-group="uib-accordion-group"
                                     ng-repeat-start="costlist in vm.selectedSubsection.cost_list.linear"
                                     ng-if="$first" is-open="accordionToggle[costlist._id]"
                                     ng-init="accordionToggle[costlist._id] = true" panel-class="b">
                                    <uib-accordion-heading>{{$index + 1}}. {{costlist.item}}
                                        <small class="label label-success pull-right">
                                            <em am-time-ago="costlist.last_modified"></em>
                                        </small>
                                    </uib-accordion-heading>
                                    <div>
                                        <cost-list cost-list-data="costlist"></cost-list>
                                    </div>
                                </div>
                                <div uib-accordion-group="uib-accordion-group"
                                     ng-repeat-end is-open="accordionToggle[costlist._id]" ng-if="!$first" panel-class="b">
                                    <uib-accordion-heading>{{$index + 1}}. {{costlist.item}}
                                        <small class="label label-success pull-right"><em am-time-ago="costlist.last_modified"></em> </small>
                                    </uib-accordion-heading>
                                    <div>
                                        <cost-list cost-list-data="costlist"></cost-list>
                                    </div>
                                </div>
                            </uib-accordion>

                        </div>
                    </div>
                </div>
                <div class="panel b text-center">
                    <div class="panel-body bt">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="text-left"></th>
                                <th class="text-center">Estimated</th>
                                <th class="text-right">Actual</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="h4 text-left text-bold">Total Cost</td>
                                <td class="h4 text-center"><small >{{vm.clientAcat.sections[0].estimated_sub_total | number}}</small></td>
                                <td class="h4 text-right"><div >{{vm.clientAcat.sections[0].achieved_sub_total| number}}</div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel b text-center">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 br">
                                <label class="text-bold text-gray-darker">Net Cash Flow (Estimated)</label>
                            </div>
                            <!--MONTHS-->
                            <div class="col-md-12">
                                <div ng-repeat="(key, value) in vm.clientAcat.sections[0].estimated_cash_flow" class="col-xs-1 br">
                                    <small class="center-block">{{key | uppercase}} </small>
                                    <strong>{{value | number}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="" ng-click="wizard.go(1)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="" ng-click="wizard.go(3)">Next<span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs-->

        <!-- START Wizard Step inputs-->
        <div ng-show="wizard.active(3)">
            <legend>4. Revenue</legend>
            <fieldset>
                <div class="row">
                    <div class="col-sm-2 background-white">
                        <md-list flex>
                            <div ng-repeat="sub_section in vm.clientAcat.sections[1].sub_sections">
                                <md-list-item class="border-primary" ng-click="vm.onSubsectionClick(sub_section)">
                                    <span flex>{{sub_section.title}}</span>
                                    <i class="fa fa-angle-right" ng-show="sub_section.sub_sections.length > 0 && !vm.toggle[sub_section._id]"></i>
                                    <i class="fa fa-angle-down" ng-show="sub_section.sub_sections.length > 0 && vm.toggle[sub_section._id]"></i>
                                </md-list-item>
                                <md-list-item class="m-xs"
                                              ng-repeat="sb in sub_section.sub_sections"
                                              ng-click="vm.onSubsectionClick(sb)"
                                              ng-class="{'bg-gray': sb._id === vm.selectedSubsection._id}"
                                              ng-show="vm.toggle[sub_section._id]">
                                    <span flex-offset="5">{{sb.title}}</span>
                                </md-list-item>
                            </div>

                        </md-list>
                    </div>
                    <div class="col-sm-10 pr0 background-white">
                        <div class="row mr0">


                            <div class="col-md-3">
                                <!--EXPECTED-->
                                <div class="panel mt">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Expected</h4>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Quantity</td>
                                            <td>
                                                <input class="form-control" type="number" ng-model="costListData.estimated.value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Price</td>
                                            <td>
                                                <input class="form-control" type="number" ng-model="costListData.estimated.unit_price">
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="panel-body">
                                        <div class="clearfix">
                                            <div class="pull-right text-right">
                                                <div class="text-bold">{{costListData.estimated.total_price|number}}</div>
                                            </div>
                                            <div class="pull-left text-bold text-dark">TOTAL </div>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Own Cons.</td>
                                            <td>
                                                <input class="form-control" type="number" ng-model="costListData.achieved.value">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Seed Res.</td>
                                            <td>
                                                <input class="form-control" type="number" ng-model="costListData.achieved.unit_price">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>For Market</td>
                                            <td>
                                                <input class="form-control" type="number" ng-model="costListData.achieved.unit_price">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="form-group text-center text-uppercase">
                                    <div class="col-sm-12 col-md-2">
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <strong class="form-label">Expected</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <strong class="form-label">Actual</strong>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="month in vm.months">
                                    <div class="col-sm-12 col-md-2 text-right">
                                        <small class="form-label">{{month.name | titleCase}}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <input class="form-control" type="number" ng-model="costListData.estimated.cash_flow[month.short]">
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <input class="form-control" type="number" ng-model="costListData.achieved.cash_flow[month.short]">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mr0">
                            <div class="col-sm-12 col-md-9 panel-body">
                                <div class="pull-left text-bold text-dark col-md-2 ">Remark</div>
                                <textarea class="form-control col-md-10 " cols="2" ng-model="costListData.remark"></textarea>
                            </div>
                            <div class="col-sm-12 col-md-3 panel-body">
                                <br/>
                                <a class="btn btn-primary pull-left" ng-click="vm.estimatedYieldDetail()"> <i class="fa fa-book"> </i> Detail</a>
                            </div>
                        </div>

                        <div class="row mr0">
                            <div class="col-sm-12 col-md-4">
                                <strong class="form-label">Probable Revenue</strong>
                                <input class="form-control" type="number" ng-model="costListData.estimated.cash_flow[month.short]">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <strong class="form-label">Minimum Revenue</strong>
                                <input class="form-control" type="number" ng-model="costListData.estimated.cash_flow[month.short]">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <strong class="form-label">Maximum Revenue</strong>
                                <input class="form-control" type="number" ng-model="costListData.estimated.cash_flow[month.short]">
                            </div>
                        </div>


                    </div>
                </div>
            </fieldset>

            <ul class="pager">
                <li class="previous">
                    <a href="" ng-click="wizard.go(2)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="" ng-click="wizard.go(4)">Next<span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs-->

        <!-- START Wizard Step inputs-->
        <div ng-show="wizard.active(4)">
            <legend>  5.  Loan Proposal  </legend>
            <fieldset>
                <div class="form-group">
                    <h1> Summary Loan Proposal</h1>
                </div>

                <div  class="form-group pull-right">
                    <a class="btn btn-sm  btn-default" ng-click="save()"> <i class="fa fa-save"> </i> Save</a>
                    <a class="btn btn-sm btn-info" ng-click="save()"><i class="fa fa-save"> </i> Submit</a>
                    <a class="btn btn-sm btn-success" ng-click="save()"> <i class="fa fa-save"> </i> Approve</a>
                </div>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="" ng-click="wizard.go(3)">
                        <span>&larr; Previous</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- END Wizard Step inputs-->
    </div>
</form>