<md-dialog flex="60">
    <form role="form" name="vm.estimatedYieldDetailForm" novalidate>
        <md-toolbar class="small">
            <div class="md-toolbar-tools small">
                <h2> Product for the market</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-padding">
                <div class="table-responsive">
                    <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Expected</th>
                        <th>Achieved</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span>Union</span></td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="union_expected" id="union_expected" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="union_actual" id="union_actual" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="union_remark" id="union_remark" placeholder="remark..."/>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Factory / Institution</span></td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="factory_expected" id="factory_expected" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.factory.actual"
                                   type="text"
                                   name="factory_actual" id="factory_actual" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.factory.remark"
                                   type="text"
                                   name="factory_remark" id="factory_remark" placeholder="remark..."/>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Trader</span></td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="trader_expected" id="trader_expected" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="trader_actual" id="trader_actual" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="trader_remark" id="trader_remark" placeholder="remark..."/>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Sport / Local Market</span></td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="sport_expected" id="sport_expected" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="sport_actual" id="sport_actual" placeholder="0.000"/>
                        </td>
                        <td>
                            <input class="form-control"
                                   ng-model="vm.selectedGeolocation.latitude"
                                   type="text"
                                   name="sport_remark" id="sport_remark" placeholder="remark..."/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <div layout="row" layout-align="start" flex>
                <md-button class="md-raised md-button-small md-ink-ripple" ng-click="vm.cancel()">
                    Cancel
                </md-button>
            </div>
            <md-button class="md-raised md-primary md-button-small pull-right"
                       ng-click="vm.saveProductForMarket()">
                <i class="fa fa-save"></i> Ok
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>