<div ng-repeat="parameter in parameters">

    <div class="form-group">
        <p>{{parameter.name}}</p>
        <div ng-if="parameter.type === 'SELECT'">
            <ui-select ng-model="parameter.selected" theme="select2"
                       title="Select Parameter" style="width: 100%;">
                <ui-select-match allow-clear="true" placeholder="Select...">
                    {{$select.selected.display}} </ui-select-match>
                <ui-select-choices repeat="value in parameter.values | filter: $select.search">
                    <span ng-bind-html="value.display | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-if="parameter.type === 'TEXT'">
            <input class="form-control" ng-model="parameter.selected"  type="text" placeholder="search ..." />
        </div>
        <div ng-if="parameter.type === 'NUMBER'">
            <input class="form-control" ng-model="parameter.selected"  type="number" min="0" placeholder="search ..." />
        </div>
        <div ng-if="parameter.type === 'DATE'">
            <input type="text"
                   id="startDatePicker"
                   class="form-control input-sm"
                   ng-model="parameter.selected"
                   uib-datepicker-popup="dd-MMMM-yyyy"
                   datepicker-options="vm.startDateConfig"
                   ng-focus="vm.startDateConfig.open=true"
                   minDate="vm.startDateConfig.minDate"
                   is-open="vm.startDateConfig.open"
                   show-button-bar="false" />
        </div>
    </div>
</div>