<md-dialog style="min-width: 800px">
    <form role="form" name="vm.roleForm" novalidate >
        <md-toolbar class="small">
            <div class="md-toolbar-tools small">
                <h2>Role</h2>
                <span flex></span>
                <md-button aria-label="button" class="md-icon-button" ng-click="vm.cancel()">
                    <i class="icon-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="width:800px;max-height:1600px;">
            <md-content class="md-padding">
                <form class="mb-xl" ng-submit="vm.addRole()">
                <div class="row">

                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <div class="col col-lg">
                            <div class="pr-lg">
                                    <div class="form-group">
                                        <input class="form-control" ng-trim="true" type="text" ng-model="vm.role.name" placeholder="Role Name.." required="required" />
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" ng-trim="true" ng-model="vm.role.description" placeholder="Type a description.." rows="8"></textarea>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <div class="lead text-muted text-center" ng-show="!vm.permissions">No Permissions found...</div>
                        <div ng-hide="!vm.permissions" class="col col-lg">
                            <div class="pr-lg">
                                <input class="form-control form-control-rounded" ng-trim="true" type="text" ng-model="vm.search" placeholder="Search Permissions..."  />
                                <md-list ng-cloak>
                                    <md-subheader class="md-no-sticky">
                                        <p class="text-right" ng-if="vm.isEdit">
                                            <span> has {{ vm.role.permissions.length }} out of {{vm.permissions.length}} permissions</span>
                                        </p>
                                    </md-subheader>
                                    <md-list-item ng-repeat="permission in vm.permissions | filter:vm.search">
                                        <label class="mda-checkbox">
                                            <input type="checkbox" ng-model="permission.checked">
                                            <em class="bg-green-500"></em>{{ permission.name | ReplaceUnderscore }}</label>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </div>

                </div>
                </form>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div layout="row" layout-align="start" flex>
                <md-button class="md-raised md-button-small md-ink-ripple" ng-click="vm.cancel()">
                    Cancel
                </md-button>
            </div>
            <md-button class="md-raised md-primary md-button-small md-ink-ripple pull-right"
                       ng-click="vm.saveRole()">
                <i class="fa fa-save"></i> {{vm.isEdit? 'Update':'Save'}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
