

<h3>Manage Roles
    <small>Manage user roles and permissions.</small>
</h3>

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
    <div class="panel-heading">Roles </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-10 col-lg-12">
                <p><a class="btn btn-success pull-right" href="" ng-click="vm.addRole()">
                    <i class="fa fa-plus"></i>
                    Add Role</a>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <table class="row-border hover" datatable="ng">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Permissions</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in vm.roles"  >
                        <td>{{ $index + 1 }}</td>
                        <td>{{role.name}}</td>
                        <td>{{role.name }}</td>
                        <td>{{role.name }}</td>
                        <td>
                            <a class="btn btn-xs btn-info"
                               ng-click="vm.editRole(usr,$event)">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
