<h3>Manage Roles
    <small>Manage Roles and permissions.</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
    <!--<div class="panel-heading">Demo Table #1</div>-->
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
            <tr>
                <th>UID</th>
                <th>Picture</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Profile</th>
                <th>Last Login</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div class="media">
                        <img class="img-responsive img-circle" src="app/img/user/91.jpg" alt="Image" />
                    </div>
                </td>
                <td>@twitter</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>mail@example.com</td>
                <td class="text-center">
                    <div class="radial-bar radial-bar-25 radial-bar-xs" data-label="25%"></div>
                </td>
                <td>1 week</td>

            </tr>
            <tr>
                <td>2</td>
                <td>
                    <div class="media">
                        <img class="img-responsive img-circle" src="app/img/user/22.jpg" alt="Image" />
                    </div>
                </td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mail@example.com</td>
                <td class="text-center">
                    <div class="radial-bar radial-bar-50 radial-bar-xs" data-label="50%"></div>
                </td>
                <td>25 minutes</td>

            </tr>
            <tr>
                <td>3</td>
                <td>
                    <div class="media">
                        <img class="img-responsive img-circle" src="app/img/user/33.jpg" alt="Image" />
                    </div>
                </td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>mail@example.com</td>
                <td class="text-center">
                    <div class="radial-bar radial-bar-80 radial-bar-xs" data-label="80%"></div>
                </td>
                <td>10 hours</td>

            </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
</div>
<!-- END panel-->