<h3> Manage Branch
    <small> Manage Branches...</small>
</h3>

<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Manage Branches</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-xs-10 col-lg-12">
                        <p>
                            Head Office is created by default. Click on Add to add more branches.
                            <a class="btn btn-success pull-right" href="" ng-click="vm.addBranch()">
                                <i class="fa fa-plus"></i>
                                Add Branch</a>
                        </p>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="row-border hover" datatable="ng">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th >Name</th>
                                <th >Location</th>
                                <th>Opening Date</th>
                                <th >Branch Type</th>
                                <th >email</th>
                                <th >Phone</th>
                                <th >status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="branch in vm.branches">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td>{{branch.name}}</td>
                                <td>{{branch.location}}</td>
                                <td>{{branch.opening_date | date}}</td>
                                <td>{{branch.branch_type}}</td>
                                <td>{{branch.email}}</td>
                                <td>{{branch.phone}}</td>
                                <td>
                                    <span class="badge " ng-class="branch.status==='active'?'badge-primary':'badge-default'" >{{branch.status}}</span>
                                </td>
                                <td>
                                    <a ng-click="vm.editBranch(branch)">
                                        <i class="fa fa-edit"></i>
                                        EDIT
                                    </a>
                                    <a ng-click="vm.changeStatus(branch)">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                        {{branch.status=== 'active'? "Deactivate":"Activate"}}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END panel-->

