
<div class="row">
    <div  class="col-md-8">
        <form name="filteringForm">
            <div class="panel panel-default" id="panelDemo1">
                <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo1}">
                    User Configuration
                    <paneltool tool-collapse="tool-collapse"></paneltool>
                </div>
                <div class="panel-wrapper" uib-collapse="panelDemo1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsnameValid]">
                                    <label class="control-label small">Name</label>
                                    <input name="inputName"
                                           ng-model="vm.config.name"
                                           placeholder="Season name/ configuration name"
                                           type="text"
                                           class="form-control input-sm">
                                    <small ng-show="!vm.seasonalFilterForm.IsnameValid" class="help-block">Name is required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsfromDateValid]">
                                    <label>From Date</label>
                                    <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true"> * </span>
                                    <p class="input-group">
                                        <input class="form-control" type="text" ng-required="true"
                                               uib-datepicker-popup="{{vm.dtOption.format}}"
                                               ng-model="vm.config.fromDate"
                                               is-open="vm.dtOption.fromPopup.opened"
                                               datepicker-options ="vm.dtOption.dateOptions"
                                               close-text="Close"
                                               alt-input-formats = "vm.dtOption.altInputFormats"/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.dtOption.fromOpen()">
                                      <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                    </p>
                                    <small ng-show="!vm.seasonalFilterForm.IsfromDateValid" class="help-block">From Date is required.</small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IstoDateValid]">
                                    <label>To Date</label>
                                    <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true"> * </span>
                                    <p class="input-group">
                                        <input class="form-control" type="text" ng-required="true"
                                               uib-datepicker-popup="{{vm.dtOption.format}}"
                                               ng-model="vm.config.toDate"
                                               is-open="vm.dtOption.popup.opened"
                                               datepicker-options ="vm.dtOption.dateOptions"
                                               close-text="Close"
                                               alt-input-formats = "vm.dtOption.altInputFormats"/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.dtOption.open()">
                                      <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                    </p>
                                    <small ng-show="!vm.seasonalFilterForm.IstoDateValid" class="help-block">To Date is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-md-4 pull-right">
                                <button class="btn btn-primary btn-block" ng-click="vm.saveUserConfig()" type="button">Ok</button>
                            </p>
                            <p class="col-md-4 pull-left">
                                <button class="btn btn-default btn-block" ng-click="vm.resetConfig()" type="button">Reset</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="panel b">-->
            <!--<div class="panel-heading bb">-->
                <!--<h4 class="panel-title">Seasonal Monitoring config</h4>-->
            <!--</div>-->
            <!---->
            <!---->
        <!--</div>-->
        </form>
    </div>
</div>

<div ng-show="vm.visibility.showSmiley" class="row clearfix">
    <div class="col-lg-6 col-md-8" ng-repeat="branch in vm.branches">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{{branch.name}}</div>
            </div>
            <div class="panel-body bb" >
                <div class="row text-center">
                    <div class="col-xs-6">
                        <p class="text-bold text-center">Rainfall</p>
                        <div >
                            <iframe align="middle" style="min-height: 200px; min-width: 150px;" frameborder="0"
                                    ng-src="{{vm.vegitationIndex.image_url}}"></iframe>
                            <a target="_blank" class="btn btn-block  btn-default"
                               href="http://seasmon.wenr.wur.nl/html/chart_00000018_PRECIP_2014-08-05.html">Detail</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-bold">Vegetation Index</p>
                        <div>
                            <iframe align="middle" style="min-height: 200px; min-width: 150px;" frameborder="0"
                                    ng-src="{{vm.rainfall.image_url}}"></iframe>
                            <a target="_blank" class="btn btn-block btn-default" href="http://seasmon.wenr.wur.nl/html/chart_00000018_PRECIP_2014-08-05.html">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

