<!--<div class="col-md-6">-->
    <!--<div class="panel b">-->
        <!--<div class="panel-heading bb">-->
            <!--<h4 class="panel-title">Plot Level</h4>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-lg-offset-2">-->
                <!--<div class="form-group">-->
                    <!--<label>From Year</label>-->
                    <!--<select class="form-control" name="checkout-cc-exp-year" required="">-->
                        <!--<option value="">Year</option>-->
                        <!--<option value="2016">2016</option>-->
                        <!--<option value="2017">2017</option>-->
                        <!--<option value="2018">2018</option>-->
                        <!--<option value="2019">2019</option>-->
                        <!--<option value="2020">2020</option>-->
                        <!--<option value="2021">2021</option>-->
                        <!--<option value="2022">2022</option>-->
                        <!--<option value="2023">2023</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-5">-->
                <!--<div class="form-group">-->
                    <!--<label>To Year</label>-->
                    <!--<select class="form-control" name="checkout-cc-exp-year" required="">-->
                        <!--<option value="">Year</option>-->
                        <!--<option value="2016">2016</option>-->
                        <!--<option value="2017">2017</option>-->
                        <!--<option value="2018">2018</option>-->
                        <!--<option value="2019">2019</option>-->
                        <!--<option value="2020">2020</option>-->
                        <!--<option value="2021">2021</option>-->
                        <!--<option value="2022">2022</option>-->
                        <!--<option value="2023">2023</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="panel-body">-->
            <!--<p class="col-md-4 pull-right">-->
                <!--<button class="btn btn-primary btn-block" ng-click="vm.generateSeasonalReport()" type="button">OK</button>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="col-lg-12">
    <leaflet lf-center="center" markers="markers" height="480px" width="100%"></leaflet>
    <!--<h1>Add/remove markers easily example</h1>-->
    <!--<button ng-click="removeMarkers()">Remove markers</button>-->
    <!--<button ng-click="addMarkers()">Add markers</button>-->
</div>

