<h3>Clients Management
    <small>Manage clients information.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-12 col-lg-5">
            <label class="control-label">Filter By Branches</label>
            <ui-select ng-model="vm.currentUser.selected_access_branch"
                       theme="select2"  on-select="vm.onSelectedBranch()"
                       title="select branch" style="width: 100%;">
                <ui-select-match allow-clear="true" placeholder="Select access branch to filter...">
                    {{$select.selected.name}} - {{$select.selected.location}}
                </ui-select-match>
                <ui-select-choices repeat="branch in vm.currentUser.user_access_branches | filter: $select.search">
                    <div ng-bind-html="branch.name | highlight: $select.search"></div>
                    <small>
                        <strong>location:</strong> {{branch.location}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-xs-12 col-lg-4"></div>
        <div class="col-xs-12 col-lg-3">
            <label class="control-label">Loan Cycle</label>
            <select  name="LoanCycleSelect" id="LoanCycleSelectId" ng-change="vm.onSelectedLoanCycle()" ng-model="vm.currentUser.loanCycle">
                <option  ng-repeat="lc in vm.loanCycles" value="{{lc.id}}">{{lc.name}}</option>
            </select>
        </div>
        <br/>
    </div>
    <div class="panel-body">
        <p></p>
        <div class="row" userpermission="['CLIENT_MANAGEMENT_CLIENT_VIEW_ALL','CLIENT_MANAGEMENT_CLIENT_VIEW']">
            <div class="col-lg-12">
                <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" ng-click="vm.search()">
                            <i class="fa fa-search"></i>
                        </md-button>

                        <!-- Input Text -->
                        <md-input-container flex>
                            <input id="search-input" type="text" ng-model="vm.query.search"/>
                        </md-input-container>

                        <md-button class="md-icon-button" ng-click="vm.clearSearch()">
                            <i class="fa fa-times"></i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Clients</h2>

                        <div flex="" class="flex"></div>
                        <button class="md-icon-button md-button md-ink-ripple" type="button"
                                ng-click="vm.filter.show = true">
                            <i class="fa fa-filter"></i>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </md-toolbar>

                <md-table-container>
                    <table md-table md-progress="vm.clientPromise" class="table-hover">
                        <thead md-head class="bg-grey md-head">
                        <tr md-row>
                            <th md-column style="width:3%;"><span> No</span></th>
                            <th md-column ><span>Full Name</span></th>
                            <th md-column  ><span>DOB</span></th>
                            <th md-column  ><span>Civil Status</span></th>
                            <th md-column  ><span>Branch</span></th>
                            <th md-column  ><span>Status</span></th>
                            <th md-column  >Action</th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="client in vm.clients">

                            <td md-cell>{{vm.query.per_page * (vm.query.page - 1) +  $index + 1}}</td> </td>
                            <td md-cell>
                                <i ng-class="client.gender === 'male' || client.gender === 'Male'?'fa fa-lg fa-border fa-male':'fa fa-border fa-lg fa-female'"></i>
                                {{ client.first_name }} {{ client.last_name }} {{client.grandfather_name}}
                                <span ng-show="client.loan_cycle_number > 1" class="label label-green">{{client.loan_cycle_number | ordinal}} Cycle</span>
                            </td>
                            <td md-cell >{{client.date_of_birth | date }}</td>
                            <td md-cell>{{client.civil_status}}</td>
                            <td md-cell>{{client.branch.name }}</td>
                            <td md-cell>
                                <span ng-class="vm.labelBasedOnStatus(client.status)">{{client.status | ReplaceUnderscore}}</span>
                            </td>

                            <td md-cell>
                                <a ng-click="vm.clientDetail(client,$event)">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="vm.query.per_page"
                                     md-limit-options="vm.pageSizes"
                                     md-page="vm.query.page"
                                     md-total="{{vm.query.total_docs_count}}"
                                     md-page-select="vm.options.pageSelect"
                                     md-boundary-links="vm.options.boundaryLinks"
                                     md-on-paginate="vm.paginate">
                </md-table-pagination>
            </div>
        </div>
    </div>
</div>
