<nav class="navbar-default navbar-static-side white-bg" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{vm.currentUser.name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Account<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Profile</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BIDIR
                </div>

            </li>

            <li ng-class="{active: $state.includes('index')}">
                <a href=""><i class="fa fa fa-cogs"></i> <span class="nav-label">{{ 'MFI Setup'}}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('index')}">
                    <li ui-sref-active="active"><a ui-sref="index.main"> <i class="fa fa fa-cog"></i>  MFI Setting</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.branch"> <i class="fa fa fa-building"></i>  Manage Branches</a></li>
                </ul>
            </li>
        </ul>



    </div>
</nav>
