<div class="panel panel-default">
    <div class="panel-heading">Client Information</div>
<div class="panel-body" block-ui="ClientsListBlockUI">
    <div class="row">
        <div class="col-lg-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="lead bb">Details</p>
            <form class="form-horizontal p-20">
                <div class="form-group">
                    <div class="col-sm-4">National Id No:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.national_id_no}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Name:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.first_name}} {{vm.client.last_name}} {{vm.client.grandfather_name}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Date Of Birth:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.date_of_birth | date }}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Gender:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.gender}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Phone:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.phone}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Status:</div>
                    <div class="col-sm-8">
                        <div class="label label-success">{{vm.client.civil_status}}</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p class="lead bb">Extra</p>
            <form class="form-horizontal p-20">
                <div class="form-group">
                    <div class="col-sm-4">Branch:</div>
                    <div class="col-sm-8">
                        <strong>
                            {{vm.client.branch.name}}
                        </strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Created By:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.created_by.username}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Created Date:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.date_created | date:'medium'}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Last Updated:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.last_modified | date:'medium'}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Household Members:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.household_members_count}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Geo Location:</div>
                    <div class="col-sm-8">
                        <strong>Latitude: {{vm.client.geolocation.latitude}}</strong>
                        <strong>Longitude: {{vm.client.geolocation.longitude}}</strong>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="lead bb">Address</p>
            <form class="form-horizontal p-20">
                <div class="form-group">
                    <div class="col-sm-4">House Number:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.house_no}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">kebele:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.kebele}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Woreda:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.woreda}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">National Id Card:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.national_id_card}}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">Phone:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.phone}}</strong>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p class="lead bb">Spouse</p>
            <form class="form-horizontal p-20">
                <div class="form-group">
                    <div class="col-sm-4">First Name</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.spouse.first_name}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Last Name:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.spouse.last_name}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Grand Father Name:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.spouse.grandfather_name}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">National Id No:</div>
                    <div class="col-sm-8">
                        <strong>{{vm.client.spouse.national_id_no}}</strong>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <uib-tabset justified="true">
            <uib-tab>
                <uib-tab-heading>Screening</uib-tab-heading>
                <div>
                    <h1>SCREENING</h1>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>Load Application</uib-tab-heading>
                <div>
                    <h1>LOAN APPLICATION</h1>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</div>
