

<h3>Clients Management
    <small>Manage clients information.</small>
</h3>

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
    <div class="panel-heading">Clients</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                <h1>Clients List</h1>
                <!--<table class="row-border hover" datatable="ng">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Id</th>-->
                        <!--<th>Name</th>-->
                        <!--<th>DOB</th>-->
                        <!--<th>Civil Status</th>-->
                        <!--<th>Branch</th>-->
                        <!--<th>Phone</th>-->
                        <!--<th>Household members</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="client in vm.clients" >-->
                        <!--<td>{{ $index + 1 }}</td>-->
                        <!--<td>{{ client.first_name }} {{ client.last_name }} {{client.grandfather_name}}</td>-->
                        <!--<td>{{client.date_of_birth }}-->
                            <!--<span class="badge badge-primary">{{client.gender}}</span>-->
                        <!--</td>-->
                        <!--<td>{{client.civil_status}}</td>-->
                        <!--<td>{{client.branch }}</td>-->
                        <!--<td>{{ client.phone }}</td>-->
                        <!--<td>  {{client.household_members_count}} </td>-->
                        <!--<td>-->
                            <!--<button userpermission="['CLIENT_MANAGEMENT_CLIENT_VIEW']"-->
                                    <!--class="btn btn-info btn-xs"-->
                                    <!--ng-click="vm.clientDetail(client,$event)">-->
                                <!--<i class="fa fa-eye"></i> Detail-->
                            <!--</button>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>
    </div>
</div>
