<h3>{{vm.client.first_name | uppercase}} {{vm.client.last_name | uppercase}} Detail
   <small>Manage clients information.</small>
   <br/>
   <small>
      <a ui-sref="app.manage_clients"><i class="fa fa-arrow-left"></i> Back </a>
   </small>
</h3>




<div class="panel panel-default">
   <div class="panel-heading">Client Information</div>
   <div class="panel-body" block-ui="ClientBlockUI">
      <div class="row">
         <div class="col-lg-4">

         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class="lead bb">Details</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">National Id No:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.national_id_no}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Name:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.first_name}} {{vm.client.last_name}} {{vm.client.grandfather_name}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Date Of Birth:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.date_of_birth | date }}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Gender:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.gender}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Phone:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.phone}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Status:</div>
                  <div class="col-sm-8">
                     <div class="label label-success">{{vm.client.civil_status}}</div>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <p class="lead bb">Extra</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">Branch:</div>
                  <div class="col-sm-8">
                     <strong>
                        {{vm.client.branch.name}}
                     </strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Created By:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.created_by.username}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Created Date:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.date_created | date:'medium'}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Last Updated:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.last_modified | date:'medium'}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Household Members:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.household_members_count}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Geo Location:</div>
                  <div class="col-sm-8">
                     <strong>Latitude: {{vm.client.geolocation.latitude}}</strong>
                     <strong>Longitude: {{vm.client.geolocation.longitude}}</strong>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class="lead bb">Address</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">House Number:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.house_no}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">kebele:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.kebele}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Woreda:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.woreda}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">National Id Card:</div>
                  <div class="col-sm-8">
                     <div class="media">
                        <img class="img-responsive thumb32" ng-src="{{vm.client.national_id_card}}" src="/app/img/user/02.jpg" alt="Client Picture">
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-sm-4">Phone:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.phone}}</strong>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <p class="lead bb">Spouse</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">First Name</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.spouse.first_name}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Last Name:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.spouse.last_name}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Grand Father Name:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.spouse.grandfather_name}}</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">National Id No:</div>
                  <div class="col-sm-8">
                     <strong>{{vm.client.spouse.national_id_no}}</strong>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="row">
         <uib-tabset justified="true">
            <uib-tab>
               <!--QUESTION HEADER-->
               <div class="col-lg-12">
                  <br/>
                  <div class="col-md-1">
                     <b>No</b>
                  </div>
                  <div ng-class="{'THREE_COLUMNS' : 'col-md-6', 'TWO_COLUMNS': 'col-md-7'}[vm.client.layout]">
                     <b>Question</b>
                  </div>
                  <div ng-class="{'THREE_COLUMNS' : 'col-md-3', 'TWO_COLUMNS': 'col-md-4'}[vm.client.layout]">
                     <b>Answer</b>
                  </div>
                  <div ng-if="vm.client.layout == 'THREE_COLUMNS'" class="col-md-2">
                     <b>Remark</b>
                  </div>
               </div>

               <hr>
               <!--QUESTIOSN LIST-->
               <div class="col-lg-12" ng-switch on="vm.client.has_sections">
                  <div ng-switch-when="true">
                     <div ng-repeat="section in vm.client.sections">
                        <div class="bg-success text-center text-uppercase">
                           <h5 class="">{{section.title}}</h5>
                        </div>
                        <question-row ng-repeat="question in section.questions | filter:{show: true}" question-row-data="question" layout-data="vm.client.layout" row-no="$index + 1" value-changed="vm.questionValueChanged"></question-row>
                     </div>
                  </div>
                  <div ng-switch-default>
                     <question-row ng-repeat="question in vm.client.questions | filter:{show: true}" question-row-data="question" layout-data="vm.client.layout" row-no="$index + 1" value-changed="vm.questionValueChanged">
                     </question-row>
                  </div>
                  <br/>

               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>Loan Application</uib-tab-heading>
               <div>
                  <h1>LOAN APPLICATION</h1>
               </div>
            </uib-tab>
            <uib-tab>
               <uib-tab-heading>ACAT</uib-tab-heading>
               <div class="row">
                  <div class="col-md-2 bg-success-dark text-left text-uppercase">
                     <h5 class="">ACAT</h5>
                  </div>
               </div>
            </uib-tab>
         </uib-tabset>
      </div>
   </div>
</div>
