<div class="row">
    <div class="col-lg-12">
        <h3>Add User</h3>
    </div>
</div>
<div class="dialog-contents">

<form name="vm.userForm" novalidate>
    <div class="row">
        <!--LEFT SIDE CONTENT-->
        <div class="col-lg-6">
            <div class="form-group row clearfix required" ng-class="{false:'has-error'}[vm.user.first_name.Isfirst_nameValid]">
                <div class="col-sm-12">
                    <input name="inputFirstName" ng-model="vm.user.first_name" placeholder="First Name" type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-group row clearfix required" ng-class="{false:'has-error'}[vm.user.last_name.Islast_nameValid]">
                <div class="col-sm-12">
                    <input type="text" name="inputLastName" placeholder="Last Name" ng-model="vm.user.last_name" class="form-control" required>
                </div>
            </div>
            <div class="form-group row clearfix">
                <div class="col-sm-12">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.user.hiring_date" is-open="vm.popup1.opened"
                               datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="form-group row clearfix required" ng-class="{false:'has-error'}[vm.user.last_name.Islast_nameValid]">
                <div class="col-sm-12">
                    <input type="text" id="inputSurName" placeholder="Sur Name" name="inputSurName" ng-model="vm.user.sur_name" class="form-control" required>
                </div>
            </div>
        </div>
        <!--END OF LEFT SIDE CONTENT-->

        <!--RIGHT SIDE CONTENT-->
        <div class="col-lg-6">
            <div class="form-group row clearfix">
                <div class="col-sm-12">
                    <ui-select ng-model="ctrl.person.selected" theme="select2" class="form-control" title="Choose a person">
                        <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="'country'" repeat="item in ctrl.people | filter: $select.search">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                            <small ng-bind-html="item.email | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group row clearfix">
                <div class="col-sm-12">
                    <ui-select
                            multiple ng-model="vm.user.selectedBranch" theme="select2"
                            close-on-select="false" style="width: 100%">
                        <ui-select-match placeholder="Select person...">
                            {{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                        <ui-select-choices repeat="person in vm.people">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                            <small>
                                email: {{person.email}}
                                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group row clearfix required" ng-class="{false:'has-error'}[vm.user.last_name.IsusernameValid]">
                <div class="col-sm-12">
                    <input type="text" id="inputUserName" placeholder="username" name="inputUserName" ng-model="vm.user.username" class="form-control" required>
                </div>
            </div>
            <div class="form-group row clearfix required" ng-class="{false:'has-error'}[vm.user.last_name.IspasswordValid]">
                <div class="col-sm-12">
                    <input type="password" id="inputPassword" placeholder="Password" name="inputPassword" ng-model="vm.user.password" class="form-control" required>
                </div>
            </div>
        </div>
        <!--END OF RIGHT SIDE CONTENT-->
    </div>
</form>

</div>
<div class="row pull-right">
   <div class="col-lg-12 ">
       <button class="btn btn-success " type="button" ng-click="confirm()">Save</button>
       <button class="btn btn-default" type="button" ng-click="closeThisDialog('button')">Cancel</button>
   </div>
</div>
<div class="row">

</div>