

<h3>User Management
    <small>Manage user information including all branch information.</small>
</h3>

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
    <div class="panel-heading">Users |
        <small>All users information</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-10 col-lg-12">
                <p><a class="btn btn-success pull-right" href="" ng-click="vm.addUser()">
                    <i class="fa fa-plus"></i>
                    Add User</a>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <table class="row-border hover"
                       datatable=""
                       dt-instance="vm.dtInstance"
                       dt-columns="vm.dtColumns"
                       dt-options="vm.dtOptions">
                </table>
            </div>
        </div>
    </div>
</div>
