<h3>Manage Crops
    <small>create ,edit , delete crops.</small>
</h3>

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-10 col-lg-12">
                <p><a class="btn btn-success pull-right" href="" ng-click="vm.addCrop(null,$event)">
                    <i class="fa fa-plus"></i>
                    Add</a>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <md-table-container>
                    <table md-table  md-progress="promise">
                        <thead  md-head>
                        <tr md-row>
                            <th></th>
                            <th md-column ><span>No</span></th>
                            <th md-column ><span>Name</span></th>
                            <th md-column ><span>Category</span></th>
                            <th md-column ><span>Action</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="crop in vm.crops">
                            <td></td>
                            <td md-cell>{{$index + 1}}</td>
                            <td md-cell>{{crop.name}}</td>
                            <td md-cell>{{crop.category}}</td>
                            <td md-cell>
                                <a ng-click="vm.editCrop(crop,$event)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
</div>