<div class="block-center mt-xl wd-xl" ng-controller="LoginFormController as vm">
   <!-- START panel-->
   <div class="panel panel-inverse panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img class="block-center img-rounded" src="/app/img/logo.png" alt="Image" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form class="form-validate mb-lg" role="form" ng-submit="vm.login()" name="vm.loginForm" block-ui="loginFormBlockUI">
            <div class="form-group has-feedback">
               <input class="form-control" ng-model="vm.user.username" type="text" name="username" placeholder="Username" required>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="vm.loginForm.username.$dirty &amp;&amp; vm.loginForm.username.$error.required">username is required</span>
            </div>
            <div class="form-group has-feedback">
               <input class="form-control" id="password" ng-model="vm.user.password"  type="password" name="password"  placeholder="Password" required>
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="vm.loginForm.password.$dirty &amp;&amp; vm.loginForm.password.$error.required">password is required</span>
            </div>

            <button ng-disabled="vm.loginForm.$invalid" class="btn btn-block btn-success mt-lg" type="submit">Login</button>
         </form>
         <!--<div class="alert alert-danger text-center" ng-show="login.authMsg">{{login.authMsg}}</div>-->
      </div>
   </div>

   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
   </div>
</div>