/*!
 *
 * Angle - Bootstrap Admin App + AngularJS Material
 *
 * Version: 3.8.1
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 *
 */

// Bootstrap
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Bootstrap reset
@import "app/bootstrap-reset";

// Bootstrap Variables and Mixins
// @import "bootstrap/variables";
// @import "bootstrap/mixins";

// Global definition of media queries
@import "app/media-queries.less";

// Typography
@import "app/typo";

// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";
@import "app/offsidebar";


// Components
@import "app/preloader";
@import "app/breadcrumbs";
@import "app/loading-bar";
@import "app/animate";
@import "app/button-extra";
@import "app/panels";
@import "app/user-block";
@import "app/circles";
@import "app/dropdown-extra";
@import "app/row-extra";

// Plugins
@import "app/datepicker";
@import "app/gmap";

// Utilities
@import "app/utils";

// Print CSS
@import "app/print";

// Material
@import "app/material/colors";
@import "app/material/welcome";
@import "app/material/cards";
@import "app/material/md-forms";
@import "app/material/md-list";
@import "app/material/md-inputs";
@import "app/material/ngmaterial";

.green{
  background: #4CAF50;
}
.bidir-bg{
  color: #fff;
  background-color: @brand-success;
}
.md-toolbar-tools {
  background-color: @brand-success;
}

.bidir-color{
  color: #4CAF50;
  background: #000;
}

.img-preview {
  max-width:315px;
  max-height:160px;
  overflow: hidden;
}


md-toolbar {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 20px;
  min-height: 50px;
  width: 100%;
}
md-toolbar.small {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 14px;
  min-height: 36px;
  width: 100%;
}

.md-toolbar-tools {
  font-size: 16px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 300;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 40px !important;
  max-height: 64px;
  padding: 12px 4px 0px 3px !important;
  margin: 0;
}
.md-toolbar-tools.small {
  font-size: 16px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 40px !important;
  max-height: 64px;
  padding: 12px 16px 11px 24px !important;
  margin: 0;
}
.md-dialog-container{
  pointer-events: none !important;
}

md-dialog{
  pointer-events: all !important;
}

.md-button-small{
  min-height: 26px;
  font-size: 12px;
  line-height:26px;
}
.md-button-xsmall{
  min-height: 8px;
  font-size: 11px;
  line-height: 25px;
}

//.md-toolbar-tools {
//  background-color: transparent;
//  color: #000000;
//}

.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
.md-button.md-primary.md-fab:not([disabled]),
.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
.md-button.md-primary.md-raised:not([disabled])
 {
  background-color: @brand-success;
}

.line {
  min-height: 25px;
  border-bottom: 2px solid @brand-success;
}
//------shows disabled looking message-----
.centerPageText {
  color: #e8e8e8;
  text-align: center;
  padding: 150px;
  font-size: 20px;
}
///---Section Divider with horizontal line----
.section-divider{
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.section-divider > span {
  position: relative;
  display: inline-block;
}

.section-divider > span:before,
.section-divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(195, 195, 195, 0.61);
}

.section-divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.section-divider > span:after {
  left: 100%;
  margin-left: 15px;
}
//
//
//#inputs {
//  width: 50%;
//  margin: auto;
//  position: absolute;
//  bottom: 5px;
//  left: 35px;
//}
.vertical-splitter{
  border-left: solid rgba(195, 195, 195, 0.61) 1px;min-height: 100px
}


.editableTextInput {
  border: none;
  background-color: #EDD46D;
  outline: 0;
}

legend {
  background-color: white;
}

.editableTextInput:focus {
  border: none;
  background-color: none;
  outline: 0;
}

.dynamic-text {
  cursor: pointer;
}

.Absolute-Center {
  height: 50%;
  /* Set your own height: percents, ems, whatever! */

  width: 50%;
  /* Set your own width: percents, ems, whatever! */

  overflow: auto;
  /* Recommended in case content is larger than the container */

  margin: auto;
  /* Center the item vertically & horizontally */

  position: absolute;
  /* Break it out of the regular flow */

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Set the bounds in which to center it, relative to its parent/container */
}

.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.35);
}

::selection {
  background: #D3EB7E; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #D3EB7E; /* Gecko Browsers */
}
.section-style{
  min-height: 320px;
  max-height: 480px;
}
.move-cursor {
  cursor: move;
}

.question-row{
  padding-top: 10px;
  padding-bottom: 5px;
}
.question-row .md-input-container{
  margin: 0;
  margin-bottom: 15p;
}

.alternate-div{
  background-color: whitesmoke;
}