<label class="control-label" > Filtered By:</label>
<ui-select ng-model="vm.currentUser.selected_access_branch"
           theme="select2"  on-select="vm.onSelectedBranch()"
           title="select branch" style="width: 100%;">
    <ui-select-match allow-clear="true" placeholder="Select access branch to filter...">
        {{$select.selected.name}} - {{$select.selected.location}}
    </ui-select-match>
    <ui-select-choices repeat="branch in vm.currentUser.user_access_branches | filter: $select.search">
        <div ng-bind-html="branch.name | highlight: $select.search"></div>
        <small>
            <strong>Address:</strong> {{branch.address}}
        </small>
    </ui-select-choices>
</ui-select>