<h3>Form Builder
    <small>Form Builder.</small>
</h3>

<div class="panel panel-default">

    <div class="panel-body">

        <form name="vm.formBuilderForm" role="form" block-ui="formBuilderBlockUI" novalidate>
            <div class="row">
               <div class="col-md-8">
                   <md-input-container class="md-block">
                       <label label-for="formName" >Title</label>
                       <input type="text" class="form-control" name="formName" id="formName"
                              ng-model="vm.formData.title" required>
                   </md-input-container>
                   <md-input-container class="md-block">
                       <label label-for="formSubtitle" >Subtitle</label>
                       <input type="text" class="form-control" name="formSubtitle" id="formSubtitle"
                              ng-model="vm.formData.subtitle">
                   </md-input-container>
                   <md-input-container class="md-block">
                       <label label-for="formPurpose" >Purpose</label>
                       <input type="text" class="form-control" name="formPurpose" id="formPurpose"
                              ng-model="vm.formData.purpose">
                   </md-input-container>
               </div>
                <div class="col-md-4">
                    <div class="main-img-preview">
                        <img ng-show="vm.picFile" ngf-thumbnail="vm.picFile" class="thumbnail img-preview" title="Preview Logo">
                        <img ng-hide="vm.picFile" src="/app/img/no-img.png"  ng-src="{{vm.formdata.logo}}" class="thumbnail img-preview" title="Preview Logo">
                    </div>
                    <input class="form-control"
                           type="file" ngf-select ng-model="vm.picFile"
                           name="logo" accept="image/*" ngf-max-size="1MB" ngf-model-invalid="errorFile">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <md-input-container class="md-block">
                        <p>Section:</p>
                        <md-radio-group layout="row" ng-model="vm.formData.has_sections" >
                            <md-radio-button value=0 class="md-primary"> No Section </md-radio-button>
                            <md-radio-button value=1 class="md-primary">Has Section</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
                <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <md-input-container class="md-block">
                        <p>Layout:</p>
                        <md-radio-group id="formLayout" layout="row" ng-model="vm.formData.layout" >
                            <md-radio-button value="TWO_COLUMNS" > TWO COLUMNS </md-radio-button>
                            <md-radio-button value="THREE_COLUMNS" > THREE COLUMNS</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
                <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                    <!-- FORM TYPE -->
                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label small">Type</label>
                        <span class="control-label required" aria-required="true"> * </span>
                        <br/>
                        <ui-select ng-model="vm.formData.selected_formType"
                                   theme="select2"
                                   title="Choose Form Type">
                            <ui-select-match placeholder="Select form type from the list...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="ftype in vm.formTypes | filter: $select.search">
                                <span ng-bind-html="ftype.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <md-button ng-disabled="vm.formBuilderForm.$invalid || vm.formBuilderForm.$pristine"
                            class="md-raised md-primary pull-right"
                               ng-click="vm.saveForm()">
                        <i class="fa fa-save"></i> {{vm.isEdit?'Update':'save'}}
                    </md-button>
                </div>

            </div>

            <div class="line" ng-show="vm.isEdit">
            </div>
            <div class="row" ng-show="vm.isEdit">
                <div class="col-lg-12 col-sm-12">
                </div>
            </div>

            <div ng-show="vm.isEdit" class="row">

                <div ng-show="vm.formData.questions.length === 0" class="col-lg-12">
                    <h4 class="centerPageText">
                        PLEASE! <strong>Add new Question</strong>
                        <a ng-click="vm.addQuestion()"><i class="fa fa-plus"></i></a>
                    </h4>
                </div>

                <div ng-show="vm.formData.questions.length > 0" class="col-lg-12">

                    <md-table-container>
                        <button class="btn-sm btn btn-success btn-outline pull-right" type="button"
                                ng-click="vm.addQuestion()">
                            <i class="fa fa-plus"></i> Add Question
                        </button>
                        <br/>

                        <table md-table md-progress="promise" class="table-hover">
                            <thead md-head class="bg-gray-lighter">
                            <tr md-row>
                                <th md-column ><span> No</span></th>
                                <th md-column ><span>Question</span></th>
                                <th md-column ><span>Type</span></th>
                                <th md-column ><span>Remark</span></th>
                                <th md-column>Action</th>
                            </tr>
                            </thead>

                            <tbody md-body>
                            <tr md-row ng-repeat="question in vm.formData.questions">

                                <td md-cell>{{$index + 1}}</td>
                                <td md-cell>{{question.question_text}}</td>
                                <td md-cell>
                                    <span ng-class="vm.typeStyle(question.type)">
                                        {{question.type}}
                                    </span>
                                </td>
                                <td md-cell>{{question.remark}}</td>
                                <td md-cell>
                                    <a ng-click="vm.editQuestion(question,$event)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>

        </form>

    </div>

</div>