<md-dialog flex="60">
    <form role="form" name="vm.QuestionBuilderForm" novalidate block-ui="QuestionBuilderBlockUI">
        <md-toolbar class="small">
            <div class="md-toolbar-tools small">
                <h2>Question</h2>
                <span flex></span>
                <md-button aria-label="button" class="md-icon-button" ng-click="vm.cancel()">
                    <i class="icon-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-padding">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="mw-question-type" layout="row" layout-align="start center">
                            <md-input-container flex-gt-md="50">
                                <label label-for="question-type-{{vm.id}}" class="col-sm-2 control-label"
                                       >Question Type</label>
                                <ui-select ng-model="vm.question.selected_type"
                                           theme="select2"
                                           title="Select question type">
                                    <ui-select-match placeholder="Select question type...">
                                        {{$select.selected.name | lowercase }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="qnType in vm.questionTypes | filter: $select.search">
                                        <span ng-bind-html="qnType.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </md-input-container>
                        </div>

                        <div class="form-horizontal">
                            <md-input-container class="md-block">
                                <label label-for="question-text-{{vm.id}}"
                                          label-key="vm.question.question_text">Question Text</label>
                                <input type="text" name="text" ng-attr-id="question-text-{{vm.id}}"
                                       ng-model="vm.question.question_text" required>
                            </md-input-container>
                        </div>


                        <div class="form-horizontal">
                            <md-input-container class="md-block">
                                <label label-for="question-remark-{{vm.id}}"
                                       label-key="vm.question.remark"><em>Remark</em></label>
                                <input type="text" name="text" ng-attr-id="question-remark-{{vm.id}}"
                                       ng-model="vm.question.remark" required>
                            </md-input-container>

                            <div flex-gt-md="20">
                                <md-checkbox class="md-primary"
                                             ng-model="vm.question.required"
                                             ng-disabled="vm.readOnly" flex>
                                    <span>Mandatory</span>
                                </md-checkbox>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5" ng-if="vm.question.selected_type">
                        <div class="section-divider">
                        <span class="grey">{{vm.question.selected_type.name }} Settings</span>
                        </div>
                        <div class="mw-form-question-answers-builder"
                             ng-switch="vm.question.selected_type.type">
                            <div ng-switch-when="text">
                                <md-input-container >
                                    <label label-for="fibValidation" label-class="col-sm-2 control-label"
                                           label-key="fibValidation">Validation</label>
                                    <md-select  ng-attr-id="fibValidation"
                                                ng-change="vm.questionTypeChanged()"
                                                ng-model="vm.question.validation"
                                                ng-disabled="vm.readOnly" required>
                                        <md-option ng-value="validation"
                                                   ng-repeat="validation in vm.fibvalidation">
                                            {{ validation.name }}</md-option>
                                    </md-select>

                                </md-input-container>
                                <md-input-container class="md-block">
                                    <p>Show this Question:</p>
                                    <md-radio-group layout="row" ng-model="vm.question.show" ng-change="vm.showQuestionOn()">
                                        <md-radio-button value=1 class="md-primary"> Always </md-radio-button>
                                        <md-radio-button value=0 class="md-primary">When</md-radio-button>
                                    </md-radio-group>
                                </md-input-container>
                            </div>
                            <div ng-switch-when="number">
                                <md-input-container class="md-block">
                                    <input class="form-control" type="number"
                                           disabled value="{{vm.questionForm.preview.number}}">
                                </md-input-container>
                            </div>
                            <div ng-switch-when="textarea">
                                <md-input-container class="md-block">
                                        <textarea class="form-control" maxlength="150" rows="5" disabled>
                                            {{vm.questionForm.preview.textarea}}</textarea>
                                </md-input-container>
                            </div>
                            <div ng-switch-when="yn">
                                <md-radio-group layout="row">
                                    <md-radio-button value=1 class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value=0> No </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <div layout="row" layout-align="start" flex>
                <md-button class="md-raised md-button-small md-ink-ripple" ng-click="vm.cancel()">
                    Cancel
                </md-button>
            </div>
            <md-button ng-show="!vm.isEdit" class="md-raised md-button-small pull-right"
                       ng-disabled="vm.QuestionBuilderForm.$invalid"
                       ng-click="vm.addAnother()">
                <i class="fa fa-plus"></i>  Add Another
            </md-button>
            <md-button class="md-raised md-primary md-button-small pull-right"
                       ng-disabled="vm.QuestionBuilderForm.$invalid"
                       ng-click="vm.saveQuestion()">
                <i class="fa fa-save"></i> {{vm.isEdit?'Update':'Save'}}
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>
