<div class="table-content">
    <div class="table">
        <div class="row header-row uppercase">
            <div class="col-xs-2">
                <strong>No</strong>
            </div>
            <div class="col-xs-8">
                <strong>Question</strong>
            </div>
            <div class="col-xs-2">
                <strong class="pull-right">Answer</strong>
            </div>
        </div>
        <div ng-switch on="vm.has_sections">
            <div ng-switch-when="true">
                <div ng-repeat="section in vm.sections">
                    <div class="row header-row text-center text-uppercase">
                        <h5>{{section.title}}</h5>
                    </div>

                    <question-row-with-answer
                            ng-repeat="question in section.questions"
                            question-row-data="question" layout-data="vm.layout" parent-row-no="null" row-no="$index + 1"></question-row-with-answer>
                </div>
            </div>
            <div ng-switch-default>
                <question-row-with-answer ng-repeat="question in vm.questions"
                                          question-row-data="question" layout-data="vm.layout" parent-row-no="null" row-no="$index + 1"></question-row-with-answer>
            </div>
        </div>
    </div>

</div>