<div class="table-content">


    <h6 class="text-uppercase text-center">
        {{vm.Title}}
    </h6>


    <div class="row" >

        <div class="col-md-12">
            <div ng-repeat="selectedClientACAT in vm.ACATs">
                <div class="panel panel-success b">
                    <div class="panel-heading bb">
                        <h4 class="panel-title"> {{$index + 1 }}.  {{selectedClientACAT.title | uppercase}}</h4>
                    </div>
                    <!--COST-->
                    <div>
                        <div class="panel-body bt">
                            <h4 class="b0">Cost</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Estimated</th>
                                <th class="text-right">Actual</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">Inputs</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[0].sub_sections[0].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[0].sub_sections[0].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">Labour Costs</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[0].sub_sections[1].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[0].sub_sections[1].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">Other Costs</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[0].sub_sections[2].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[0].sub_sections[2].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left text-bold text-dark">Total</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[0].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[0].achieved_sub_total | number}}</div></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--Revenue-->
                    <div>
                        <div class="panel-body bt">
                            <h4 class="b0">Revenue</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-left"></th>
                                <th class="text-center">Estimated</th>
                                <th class="text-right">Actual</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">Probable</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[1].sub_sections[0].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[1].sub_sections[0].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">Maximum</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[1].sub_sections[1].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[1].sub_sections[1].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">Minimum</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[1].sub_sections[2].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[1].sub_sections[2].achieved_sub_total | number}}</div></td>
                            </tr>
                            <tr>
                                <td class="text-left text-bold text-dark">Total</td>
                                <td class="text-center"><small >{{selectedClientACAT.sections[1].estimated_sub_total | number}}</small></td>
                                <td class="text-right"><div >{{selectedClientACAT.sections[1].achieved_sub_total | number}}</div></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--Yield Consumption-->
                    <div>
                        <div class="panel-body bt">
                            <h4 class="b0">Yield Consumption</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-left"></th>
                                <th class="text-center">Estimated</th>
                                <th class="text-right">Actual</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">Own Consumption</td>
                                <td class="text-center"><small >0</small></td>
                                <td class="text-right"><div >0</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">  Seed Reserve</td>
                                <td class="text-center"><small >0</small></td>
                                <td class="text-right"><div >0</div></td>
                            </tr>
                            <tr>
                                <td class="text-left">  For Market</td>
                                <td class="text-center">
                                    <small >0</small>
                                </td>
                                <td class="text-right">
                                    <div >0</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <!--Estimated Net Cash Flow -->
                    <div>
                        <div class="panel-body">
                            <h4  class="b0">Estimated Net Cash Flow </h4>
                        </div>
                        <div class="panel-body bt">
                        <!--Estimated Net Cash Flow-->
                        <div class="col-md-12 text-center">
                            <div ng-repeat="(key, value) in selectedClientACAT.estimated.net_cash_flow" class="col-xs-4 col-md-2 br">
                                <small class="center-block">{{key | uppercase}} </small>
                                <strong>{{value | number}}</strong>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--Actual Net Cash Flow -->
                    <div>
                        <div class="panel-body bt">
                            <h4  class="b0">Actual Net Cash Flow </h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 text-center">
                                <div ng-repeat="(key, value) in selectedClientACAT.achieved.net_cash_flow" class="col-xs-4 col-md-2 br">
                                    <small class="center-block">{{key | uppercase}} </small>
                                    <strong>{{value | number}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div>
                <div class="panel panel-success b">
                    <div class="panel-heading bb">
                        <h4 class="panel-title">TOTAL</h4>
                    </div>
                    <div class="panel-body bt">
                        <h4 class="b0">Total</h4>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Total Revenue</td>
                            <td>
                                <div class="text-right text-bold">$400</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Cost</td>
                            <td>
                                <div class="text-right text-bold">$1.44</div>
                            </td>
                        </tr>
                        <tr>
                            <td>NET Income</td>
                            <td>
                                <div class="text-right text-bold">$5</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel panel-success b">
                    <div class="panel-heading bb">
                        <h4 class="panel-title">Loan Proposal Summary</h4>
                    </div>
                    <div class="panel-body bt">
                        <h4 class="b0">Loan Proposal</h4>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Loan Requested</td>
                            <td>
                                <div class="text-right text-bold">$1.44</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Loan Proposed</td>
                            <td>
                                <div class="text-right text-bold">$1.44</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Loan Approved</td>
                            <td>
                                <div class="text-right text-bold">$5</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Deductables</td>
                            <td>
                                <div class="text-right text-bold">$1.44</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Loan Costs</td>
                            <td>
                                <div class="text-right text-bold">$1.44</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Cash at hand</td>
                            <td>
                                <div class="text-right text-bold">$5</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Repayable</td>
                            <td>
                                <div class="text-right text-bold">$5</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

</div>