<h3>
   <!-- Breadcrumb right aligned-->
   <ul class="breadcrumb pull-right">
      <li><a ui-sref="app.welcome">Group Loan</a>
      </li>
      <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
         <span ng-switch-when="true">{{state.title}}</span>
      </li>
   </ul>
   Group Loan
</h3>


<div class="row">
   <div class="col-lg-3 col-md-4" ng-repeat="group in vm.groupLoans">
      <div class="panel b">
         <div class="panel-heading">
            <div class="pull-right">
               <div ng-class="vm.StyleLabelByStatus(group.status)">{{group.status}}</div>
            </div>
            <h4 class="m0">{{group.name | uppercase}}</h4>
            <small class="text-muted">last updated
               <span am-time-ago="group.last_modified"></span>
            </small>


         </div>
         <div class="panel-body"></div>
         <table class="table bb">
            <tbody>
               <tr>
                  <td>
                     <strong>Created date</strong>
                  </td>
                  <td>{{group.date_created | date}}</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                     <span class="label label-inverse pull-right" ng-if="group.members.length > 0 ">{{group.no_of_members}}</span>
                  </td>
                  <td>
                     <em ng-if="group.members.length === 0">No members so far</em>
                     <span ng-repeat="i in group.members | limitTo: 5">
                        <a class="inline">
                           <img class="img-circle thumb24" src="app/img/user/01.png" alt="project member" />
                        </a>
                     </span>
                     <a ng-show="group.members.length > 5" class="inline" ng-click="vm.groupDetail(group)">
                        <strong>+{{group.members.length - 5}}</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <p>
                        <img class="img-circle thumb24" src="app/img/user/03.png" alt="group leader" />
                        <span>{{group.leader}}</span>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Total Amount</strong>
                  </td>
                  <td>
                     <span>{{group.total_amount | number}} ETB</span>
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <button class="mb-sm btn btn-outline btn-inverse" ng-click="vm.groupDetail(group)" type="button">Detail</button>
         </div>
      </div>
   </div>
</div>


