<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Branch</h3>
</div>

<div class="modal-body" id="modal-body">
  <form name="branchForm" novalidate>

    <div class="form-group row clearfix required" ng-class="{false:'has-error'}[$ctrl.MFIBranchForm.IsnameValid]">
      <label for="inputName" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input name="inputName" ng-model="$ctrl.branch.name" placeholder="" type="text" class="form-control" required>
      </div>
    </div>

    <div class="form-group row clearfix required" ng-class="{false:'has-error'}[$ctrl.MFIBranchForm.IslocationValid]">
      <label for="inputLocation" class="col-sm-3 control-label">Location</label>

      <div class="col-sm-9">
        <input type="text" name="inputLocation" ng-model="$ctrl.branch.location" class="form-control" required>
      </div>
    </div>

    <div class="form-group row clearfix">
      <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

      <div class="col-sm-9">
        <input type="text" ng-model="$ctrl.branch.phone" class="form-control" name="inputPhone" ui-mask="(251) 999-999999" ui-mask-placeholder
          ui-mask-placeholder-char="_">
      </div>
    </div>

    <div class="form-group row clearfix">
      <label for="inputOpeningDate" class="col-sm-3 control-label">Opening Date</label>

      <div class="col-sm-9">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.branch.opening_date" is-open="popup1.opened"
            datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
    </div>

    <div class="form-group row clearfix">
      <label for="inputEmail" class="col-sm-3 control-label">Email</label>

      <div class="col-sm-9">
        <input type="email" pattern="$ctrl.emailValidator" ng-model="$ctrl.branch.email" class="form-control" name="inputEmail">
        <span ng-show="branchForm.inputEmail.$error.email" class="form-text text-muted">Invalid Email Address</span>
      </div>
    </div>
    <div class="form-group row clearfix">
      <label class="col-sm-3 control-label">Branch Type:</label>
      <div class="col-sm-9">
        <select ng-model="$ctrl.branch.branch_type" class="form-control">
          <option value="Rural Service">Rural Service</option>
          <option value="Regional office">Regional office</option>
          <option value="Satellite office">Satellite office</option>
        </select>
      </div>
    </div>
</div>
</div>

</form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">Save</button>
  <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
