<md-dialog style="min-width: 400px">
    <md-toolbar class="small">
        <div class="md-toolbar-tools small">
            <h2>{{vm.isEdit? 'Edit ':'Add '}} Loan Product</h2>
            <span flex></span>
            <md-button aria-label="button" class="md-icon-button" ng-click="vm.cancel()">
                <i class="icon-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="max-height:800px;">
        <md-content class="md-padding">
            <form class="mb-xl" name="loanProductForm"  block-ui="LoanProductBlockUI">
                <div class="form-group">
                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6" ng-class="{false:'has-error'}[vm.loan_product_form.IsnameValid]">
                        <label>Loan Product *</label>
                        <input id="name" name="name" ng-model="vm.loan_product.name" type="text"
                               class="form-control required ng-pristine ng-valid ng-not-empty ng-touched"
                               aria-invalid="false">
                    </div>
                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6" ng-class="{false:'has-error'}[vm.loan_product_form.IsMaximum_loan_amountValid]">
                        <label>Max Loan Size *</label>
                        <input id="maxLoanSizeInput" name="maxLoanSizeInput" ng-model="vm.loan_product.maximum_loan_amount"
                               type="number" class="form-control required ng-pristine ng-valid ng-not-empty ng-touched"
                               aria-invalid="false">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <md-input-container class="md-block">
                                <md-radio-group id="deductibleType"
                                                name="deductibleType"
                                                layout="row"
                                                ng-model="vm.loan_product.deductible.type" >
                                    <md-radio-button class="md-primary" value="fixed_amount">
                                        Fixed </md-radio-button>
                                    <md-radio-button value="percent" >
                                        Portion Of Loan</md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Deductibles</label>
                        <div class="col-md-5">
                                <input class="form-control"
                                       ng-model="vm.loan_product.deductible.item"
                                       type="text"
                                       name="txt_deductible_item" placeholder="Deductible" />
                        </div>
                        <div ng-show="vm.loan_product.deductible.type==='fixed_amount'" class="col-md-5">
                                <input class="form-control"
                                       ng-model="vm.loan_product.deductible.fixed_amount"
                                       type="number"
                                       name="txt_deductible_value" placeholder="Amount" />
                        </div>
                        <div ng-show="vm.loan_product.deductible.type==='percent'" class="col-md-5">
                            <input class="form-control"
                                   ng-model="vm.loan_product.deductible.percent"
                                   type="number"
                                   name="txt_deductible_value" placeholder="Percent" />
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-success btn-outline"
                                    ng-click="vm.addToDeductibleList(vm.loan_product.deductible)">
                                <i class="fa fa-plus"></i>
                                Add </button>
                        </div>
                    </div>

                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <md-input-container class="md-block">
                                <md-radio-group id="costOfLoanType"
                                                name="costOfLoanType"
                                                layout="row"
                                                ng-model="vm.loan_product.costOfLoan.type" >
                                    <md-radio-button class="md-primary" value="fixed_amount">
                                        Fixed </md-radio-button>
                                    <md-radio-button value="percent" >
                                        Portion Of Loan</md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Cost Of Loan</label>

                        <div class="col-md-5">
                                <input class="form-control"
                                       ng-model="vm.loan_product.costOfLoan.item"
                                       type="text"
                                       name="txt_costOfLoan_item" placeholder="Cost of loan" />
                        </div>
                        <div ng-show="vm.loan_product.costOfLoan.type==='fixed_amount'" class="col-md-5">
                                <input class="form-control"
                                       ng-model="vm.loan_product.costOfLoan.fixed_amount"
                                       type="number"
                                       name="txt_costOfLoan_unit" placeholder="Amount" />
                        </div>
                        <div ng-show="vm.loan_product.costOfLoan.type==='percent'" class="col-md-5">
                            <input class="form-control"
                                   ng-model="vm.loan_product.costOfLoan.percent"
                                   type="number"
                                   name="txt_costOfLoan_unit" placeholder="Percent" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success btn-outline"
                                    ng-click="vm.addToCostOfLoanList(vm.loan_product.costOfLoan)">
                                <i class="fa fa-plus"></i> Add </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <label>&nbsp;</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-inverse-light">
                                    <th>#</th>
                                    <th>Deductible</th>
                                    <th>Type</th>
                                    <th>Amount/Percentage</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="cost in vm.loan_product.deductibles">
                                    <td>{{$index + 1}}</td>
                                    <td>{{cost.item}}</td>
                                    <td>{{cost.type}}</td>
                                    <td>{{cost.fixed_amount > 0 ? cost.fixed_amount : cost.percent}}</td>
                                    <td>
                                        <a ng-click="vm.editDeductibleItem(cost,$event)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <label>&nbsp;</label>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-inverse-light">
                                    <th>#</th>
                                    <th>Cost of Loan</th>
                                    <th>Type</th>
                                    <th>Amount/Percentage</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="cost in vm.loan_product.cost_of_loan">
                                    <td>{{$index + 1}}</td>
                                    <td>{{cost.item}}</td>
                                    <td>{{cost.type}}</td>
                                    <td>{{cost.fixed_amount > 0 ? cost.fixed_amount : cost.percent}}</td>
                                    <td>
                                        <a ng-click="vm.editCostOfLoanItem(cost,$event)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </form>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <div layout="row" layout-align="start" flex>
            <md-button class="md-raised md-button-small md-ink-ripple" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </div>
        <md-button class="md-raised md-primary md-button-small md-ink-ripple pull-right" ng-click="vm.saveLoanProduct()">
            <i class="fa fa-save"></i> {{vm.isEdit? 'Update':'Save'}}
        </md-button>
    </md-dialog-actions>
</md-dialog>