<h3>Core Banking
    <small>List of clients.</small>
</h3>

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
    <div class="panel-body">
        <p></p>
        <div class="row">
            <div class="col-lg-12">
                <md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" ng-click="vm.search()">
                            <i class="fa fa-search"></i>
                        </md-button>

                        <!-- Input Text -->
                        <md-input-container flex>
                            <input id="search-input" type="text" ng-model="vm.query.search"/>
                        </md-input-container>

                        <md-button class="md-icon-button" ng-click="vm.clearSearch()">
                            <i class="fa fa-times"></i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title">Clients</h2>

                        <div flex="" class="flex"></div>
                        <button class="md-icon-button md-button md-ink-ripple" type="button"
                                ng-click="vm.filter.show = true">
                            <i class="fa fa-filter"></i>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </md-toolbar>

                <md-table-container>
                    <table md-table md-progress="vm.clientPromise" class="table-hover">
                        <thead md-head class="bg-gray-lighter md-head">
                            <tr md-row>
                                <th md-column style="width:3%;"><span> No</span></th>
                                <th md-column >
                                    <span>
                                        {{vm.IsAllChecked ? 'Uncheck All':'Check All'}}
                                    </span>
                                </th>
                                <th md-column style="width:30%;"><span>Full Name</span></th>
                                <th md-column style="width:10%;"><span>Status</span></th>
                                <th md-column style="width:25%">Branch ID</th>
                                <th md-column style="width:20%;"> Title</th>
                                <th md-column></th>
                            </tr>

                            <tr md-row>
                                <th md-column></th>
                                <th md-column>
                                    <label class="mda-checkbox">
                                        <input type="checkbox" ng-model="vm.IsAllChecked" ng-change="vm.CheckUncheckAll()"/>
                                        <em class="bg-green-500"></em>
                                    </label>
                                </th>
                                <th md-column></th>
                                <th md-column></th>
                                <th colspan="2" md-column>
                                    <input class="form-control" type="text" ng-model="vm.allBranchId"
                                           placeholder="Set Branch for all"/>
                                </th>
                                <th md-column>
                                         <span class="input-group-btn">
                                                <button class="btn btn-success"
                                                        ng-click="vm.saveAllClients(vm.clients)">
                                                    <i class="fa fa-paper-plane">  </i>  Send </button>
                                         </span>
                                </th>
                            </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="client in vm.clients" ng-class="client.in_cbs?'':'active'">
                            <td md-cell>
                                {{ $index + 1}}
                            </td>
                            <td md-cell>
                                <label class="mda-checkbox" for="chkClient_{{client._id}}">
                                    <input id="chkClient_{{client._id}}" type="checkbox"
                                           ng-model="client.Selected" ng-change="CheckUncheckHeader()"/>
                                    <em class="bg-green-500"></em>
                                </label>
                            </td>

                            <td md-cell>
                                <i ng-class="client.gender === 'male' || client.gender === 'Male'?'fa fa-2x fa-border fa-male':'fa fa-border fa-2x fa-female'"></i>
                                <span>{{ client.first_name }} {{ client.last_name }} {{client.grandfather_name}}</span>
                            </td>
                            <td md-cell>
                                <label ng-class="vm.statusStyle(client.cbs_status)">{{client.cbs_status}}</label>
                            </td>
                            <td md-cell>
                                <input class="form-control" type="text" ng-model="client.branchId"
                                       name="client_branch_id" placeholder="Branch ID Here"/>
                            </td>
                            <td md-cell>
                                <ui-select ng-model="client.title" theme="bootstrap"
                                           on-select="vm.onSelectedTitle(client)"
                                           title="Choose Title" reset-search-input="false" required="true"
                                           ng-maxlength="40">
                                    <ui-select-match placeholder="Select title from the list or add...">
                                        <span>{{$select.selected || $select.search}}</span>
                                        <a class="btn btn-xs btn-link pull-right"
                                           ng-click="vm.clear($event, $select)"></a>
                                    </ui-select-match>
                                    <ui-select-choices repeat="title in vm.titles | filter: $select.search"
                                                       refresh="vm.refreshResults($select)" refresh-delay="0">
                                        <span ng-bind-html="title | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td md-cell>
                                     <span class="input-group-btn">
                                            <button class="btn btn-success" ng-click="vm.saveSingleClient(client)"
                                                    type="button">
                                                <i class="fa fa-paper-plane"></i> </button>
                                     </span>
                                <span class="input-group-btn">
                                        <button class="btn btn-link" ng-click="vm.cbs_clientDetail(client)"
                                                type="button">
                                                <i class="fa fa-eye"></i> </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

            </div>
        </div>
    </div>
</div>
