<div class="unwrap">
   <div class="bg-cover">
      <div class="container container-md pv-lg">
         <div class="text-center mb-lg pb-lg">
            <div class="h1 text-bold">BIDIR Web Application</div>
            <p>Quickly Navigate to modules</p>
         </div>
      </div>
   </div>
</div>
<div class="container container-md">
   <div class="row">
      <div class="col-md-4" userpermission="['ACAT_BUILDER_ACAT_VIEW','ACAT_BUILDER_ACAT_CREATE','ACAT_BUILDER_ACAT_UPDATE']">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-primary" ui-sref="app.acat">
                  <em class="fa fa-5x fa-television mb-lg"></em>
                  <br/>
                  <span class="h4">A-CAT Builder</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="['FORM_BUILDER_FORM_VIEW','FORM_BUILDER_FORM_CREATE','FORM_BUILDER_FORM_UPDATE']">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-primary" ui-sref="app.forms">
                  <em class="fa fa-5x fa-object-group mb-lg"></em>
                  <br/>
                  <span class="h4">Form Builder</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="['CLIENT_MANAGEMENT_CLIENT_VIEW','CLIENT_MANAGEMENT_CLIENT_VIEW_ALL']">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-primary" ui-sref="app.clients">
                  <em class="fa fa-5x fa-users mb-lg"></em>
                  <br/>
                  <span class="h4">Client Management</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="['CLIENT_MANAGEMENT_LOAN_APPLICATION_VIEW','CLIENT_MANAGEMENT_LOAN_APPLICATION_VIEW_ALL']">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-warning" ui-sref="app.loan_processing.clients">
                  <em class="fa fa-5x fa-recycle mb-lg"></em>
                  <br/>
                  <span class="h4">Loan Processing</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="'MFI_SETUP_BRANCH_CREATE'">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-danger" ui-sref="app.manage_branch">
                  <em class="fa fa-5x fa-building-o mb-lg"></em>
                  <br/>
                  <span class="h4">Branch Management</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="['MFI_SETUP_LOAN_PRODUCT_VIEW','MFI_SETUP_LOAN_PRODUCT_CREATE','MFI_SETUP_LOAN_PRODUCT_UPDATE']">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-success" ui-sref="app.loanproduct">
                  <em class="fa fa-5x fa-calendar-check-o mb-lg"></em>
                  <br/>
                  <span class="h4">Loan Product Management</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4" userpermission="'USER_MANAGEMENT_ROLE_CREATE'">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-success" ui-sref="app.manage_role">
                  <em class="fa fa-5x fa-tasks mb-lg"></em>
                  <br/>
                  <span class="h4">Role Management</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="'USER_MANAGEMENT_USER_CREATE'">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-success" ui-sref="app.manage_user">
                  <em class="fa fa-5x fa-street-view mb-lg"></em>
                  <br/>
                  <span class="h4">User Management</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
      <div class="col-md-4" userpermission="'REPORT_REPORT'">
         <div class="panel b">
            <div class="panel-body text-center">
               <a class="link-unstyled text-success" ui-sref="app.report">
                  <em class="fa fa-5x fa-bar-chart mb-lg"></em>
                  <br/>
                  <span class="h4">Reports</span>
                  <br/>
                  <small class="text-muted">View &rarr;</small>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>