<div class="row">
   <div ng-show="!vm.visibility.isEditConfig" class="col-md-8">
      <form name="filteringForm">
         <div class="panel b">
            <div class="panel-heading bb">
               <h4 class="panel-title">Seasonal Monitoring config</h4>
            </div>
            <div class="panel-body">
               <div class="col-lg-12">
                  <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsnameValid]">
                     <label class="control-label small">Name</label>
                     <input name="inputName" ng-model="vm.config.name" placeholder="Season name/ configuration name" type="text" class="form-control input-sm">
                     <small ng-show="!vm.seasonalFilterForm.IsnameValid" class="help-block">Name is required.</small>
                  </div>
               </div>
            </div>
            <div class="panel-body">
               <div class="col-lg-6">
                  <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsfromDateValid]">
                     <label>From Date</label>
                     <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true">*</span>
                     <p class="input-group">
                        <input class="form-control" type="text" ng-required="true" uib-datepicker-popup="{{vm.dtOption.format}}" ng-model="vm.config.fromDate" is-open="vm.dtOption.fromPopup.opened" datepicker-options="vm.dtOption.dateOptions" close-text="Close" alt-input-formats="vm.dtOption.altInputFormats"
                        />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="vm.dtOption.fromOpen()">
                              <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                     </p>
                     <small ng-show="!vm.seasonalFilterForm.IsfromDateValid" class="help-block">From Date is required.</small>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IstoDateValid]">
                     <label>To Date</label>
                     <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true">*</span>
                     <p class="input-group">
                        <input class="form-control" type="text" ng-required="true" uib-datepicker-popup="{{vm.dtOption.format}}" ng-model="vm.config.toDate" is-open="vm.dtOption.popup.opened" datepicker-options="vm.dtOption.dateOptions" close-text="Close" alt-input-formats="vm.dtOption.altInputFormats"
                        />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="vm.dtOption.open()">
                              <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                     </p>
                     <small ng-show="!vm.seasonalFilterForm.IstoDateValid" class="help-block">To Date is required.</small>
                  </div>
               </div>
            </div>

            <div class="panel-body">
               <p class="col-md-4 pull-right">
                  <button class="btn btn-primary btn-block" ng-click="vm.generateSeasonalReport()" type="button">Ok</button>
               </p>
               <p class="col-md-4 pull-left">
                  <button class="btn btn-default btn-block" ng-click="vm.resetConfig()" type="button">Reset</button>
               </p>
               <!--<small ng-show="vm.visibility.showInfoText" class="text-muted">-->
               <!--* Please pick branch and dates to see branch level reports</small>-->
            </div>
         </div>
      </form>
   </div>
   <div ng-show="vm.visibility.isEditConfig" class="col-sm-8 col-md-6 col-lg-4">

      <div class="list-group-item">
         <table>
            <tbody>
               <tr>
                  <td>
                     <div class="ph">
                        <h4 class="media-box-heading">User Config</h4>
                        <small class="text-muted">{{vm.config.name}}</small>
                     </div>
                  </td>
                  <td></td>
                  <td>
                     <div class="ph">
                        <p class="m0">From Date</p>
                        <small class="text-muted">
                           <em class="fa fa-calendar mr fa-lg"></em>{{vm.config.from_date | date}}</small>
                     </div>
                  </td>
                  <td></td>
                  <td>
                     <div class="ph">
                        <p class="m0">To Date</p>
                        <small class="text-muted">
                           <em class="fa fa-calendar mr fa-lg"></em>{{vm.config.to_date | date}}</small>
                     </div>
                  </td>
                  <td></td>
                  <td>
                     <div class="ph">
                        <button ng-click="vm.visibility.isEditConfig = true" class="btn btn-info" type="button">
                           <i class="fa fa-edit fa-lg"></i> Edit
                        </button>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

<div ng-show="vm.visibility.showSmiley" class="row clearfix">
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #2</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-6">
                  <p class="text-bold">Rainfall</p>
                  <!--<iframe width="150" height="150" frameborder="0" src="http://seasmon.wenr.wur.nl/html/info_00000011_VI_latest.html">-->
                  <!--</iframe>-->
                  <!--<div width="150" height="150" ng-include="'http://seasmon.wenr.wur.nl/html/info_00000011_VI_latest.html'"></div>-->
               </div>
               <div class="col-xs-6">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="http://seasmon.wenr.wur.nl/html/info_00000011_VI_latest.html" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #2</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-6">
                  <p class="text-bold">RainFall</p>
                  <a class="inline" target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html" uib-tooltip="Rainfall">
                     <img class="img-circle thumb48" src="app/img/smiley-red.png" alt="Rainfall Result">
                  </a>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley-green.png" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #3</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">Rainfall</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley.png" alt="Rainfall Result">
                  </a>

               </div>
               <div class="col-xs-4">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley-green.png" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
</div>

