<div class="row">
   <div class="col-md-6">
      <form name="filteringForm">
         <div class="panel b">
            <div class="panel-heading bb">
               <h4 class="panel-title">Seasonal Monitoring Filter</h4>
            </div>
            <div class="panel-body">
               <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsbranchValid]">
                  <div class="col-md-2 text-bold text-dark">Branch
                     <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true">*</span>
                  </div>
                  <div class="col-md-10">
                     <ui-select name="branch-select" ng-model="vm.filter.branch" theme="select2" on-select="vm.onSelectedBranch(branch)" title="select branch" style="width: 100%;" ng-required="true">
                        <ui-select-match allow-clear="true" placeholder="Select access branch to filter...">
                           {{$select.selected.name}} - {{$select.selected.location}}
                        </ui-select-match>
                        <ui-select-choices repeat="branch in vm.branches | filter: $select.search">
                           <div ng-bind-html="branch.name | highlight: $select.search"></div>
                           <small>
                              <strong>location:</strong>{{branch.location}}
                           </small>
                        </ui-select-choices>
                     </ui-select>
                     <small ng-show="!vm.seasonalFilterForm.IsbranchValid" class="help-block">Branch is required.</small>
                  </div>
               </div>

            </div>
            <div class="panel-body">
               <div class="col-md-2 pull-left text-bold text-dark">Time Range</div>
               <div class="col-lg-5">
                  <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IsfromDateValid]">
                     <label>From Date</label>
                     <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true">*</span>
                     <p class="input-group">
                        <input class="form-control" type="text" ng-required="true" uib-datepicker-popup="{{vm.dtOption.format}}" ng-model="vm.filter.fromDate" is-open="vm.dtOption.fromPopup.opened" datepicker-options="vm.dtOption.dateOptions" close-text="Close" alt-input-formats="vm.dtOption.altInputFormats"
                        />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="vm.dtOption.fromOpen()">
                              <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                     </p>
                     <small ng-show="!vm.seasonalFilterForm.IsfromDateValid" class="help-block">From Date is required.</small>
                  </div>
               </div>
               <div class="col-lg-5">
                  <div class="form-group" ng-class="{false:'has-error'}[vm.seasonalFilterForm.IstoDateValid]">
                     <label>To Date</label>
                     <span ng-show="vm.visibility.showWarning" class="control-label required" aria-required="true">*</span>
                     <p class="input-group">
                        <input class="form-control" type="text" ng-required="true" uib-datepicker-popup="{{vm.dtOption.format}}" ng-model="vm.filter.toDate" is-open="vm.dtOption.popup.opened" datepicker-options="vm.dtOption.dateOptions" close-text="Close" alt-input-formats="vm.dtOption.altInputFormats"
                        />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="vm.dtOption.open()">
                              <i class="fa fa-calendar"></i>
                           </button>
                        </span>
                     </p>
                     <small ng-show="!vm.seasonalFilterForm.IstoDateValid" class="help-block">To Date is required.</small>
                  </div>
               </div>

            </div>

            <div class="panel-body">
               <p class="col-md-4 pull-right">
                  <button class="btn btn-primary btn-block" ng-click="vm.generateSeasonalReport()" type="button">Ok</button>
               </p>
               <small ng-show="vm.visibility.showInfoText" class="text-muted">
                  * Please pick branch and dates to see branch level reports</small>
            </div>
         </div>
      </form>
   </div>
</div>

<div ng-show="vm.visibility.showSmiley" class="row">
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #2</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-6">
                  <p class="text-bold">Rainfall</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley.png" alt="Rainfall Result">
                  </a>

               </div>
               <div class="col-xs-6">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley-green.png" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #2</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-6">
                  <p class="text-bold">RainFall</p>
                  <a class="inline" target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html" uib-tooltip="Rainfall">
                     <img class="img-circle thumb48" src="app/img/smiley-red.png" alt="Rainfall Result">
                  </a>
               </div>
               <div class="col-xs-4">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley-green.png" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Branch Name #3</div>
         </div>
         <div class="panel-body bb">
            <div class="row text-center">
               <div class="col-xs-4">
                  <p class="text-bold">Rainfall</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley.png" alt="Rainfall Result">
                  </a>

               </div>
               <div class="col-xs-4">
                  <p class="text-bold">Vegetation Index</p>
                  <a target="_blank" href="https://ajwwag.home.xs4all.nl/chart_000001_20180401_20181031_PRECIP_20181031.html">
                     <img class="img-circle thumb48" style="color: red;" src="app/img/smiley-green.png" alt="Rainfall Result">
                  </a>

               </div>
            </div>
         </div>
         <div class="panel-footer text-center">
            <em>Description about this report</em>
         </div>
      </div>
   </div>
</div>

